.seeCommand {
    background: #c6f1d6;
    border: #1fab89;
    border-radius:6px;
    border-style: double;
    color: #31433f;
    font: Arial;
    font-size: 25px;
    font-weight: bold;
    float: left;
    height: auto;
    margin: 2rem;
    width: 90%;  
}
#menuList {
    border-collapse: collapse;
    border: 3px solid #ddd;
    text-align: center;
    width: 100%;
}
#menuList td, #menuList th {
    text-align: center;
    width: 100px
}
#menuList tr:nth-child(even){
    background: #f2f2f2;
}
#menuList tr:nth-child(odd){
    background: #c6f1d6;
}
#menuList th, tfoot {
    background-color: #ff8080;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    width: 50%
} 
#menuList button {
    height: 3rem;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 4.5rem;
}
.buttonClose{
    font-size: 20px;
    float: right;
    margin-right: 3rem;
    margin-top: 3rem;
    height: 4rem;
    width: 8rem;
}
.title{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    display: inline-table;
    margin-right: 3rem;  
}
.logoSeeCommand{
    background: #c6f1d6;
	-moz-box-shadow:inset 0px 1px 0px 0px #c6f1d6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c6f1d6;
	box-shadow:inset 0px 1px 0px 0px #c6f1d6;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c6f1d6), color-stop(1, #1fab88));
	background:-moz-linear-gradient(top, #c6f1d6 5%, #1fab88 100%);
	background:-webkit-linear-gradient(top, #c6f1d6 5%, #1fab88 100%);
	background:-o-linear-gradient(top, #c6f1d6 5%, #1fab88 100%);
	background:-ms-linear-gradient(top, #c6f1d6 5%, #1fab88 100%);
	background:linear-gradient(to bottom, #c6f1d6 5%, #1fab88 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6f1d6', endColorstr='#1fab88',GradientType=0);
	border:2px solid #1fab88;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    border-radius: 60%;
    float: left;
    margin-left: 3rem;
    margin-top: 1rem;
    width: 20%;
} 