body{
    background:url('./fondoCat.jpg');
}
.buttonsWaiter{
    display:inline-block;
    font-size:20px;
    height: 6rem;
    margin: 1rem;
    width: 12rem;
}
.waiter{
    align-items: center;
    font-size: 30px;
    justify-content:center;
    margin-top: 20%;
}