@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  align-items: center;
    background: url('./Coffee-beans.jpg');
 color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.Input {
  border: 0;
  background-color: #def;
  width: 20rem;
  height: 4rem;
  margin: 1.5rem
}

.Button {
  background-color: #def;
  border: 0;
  width: 5rem;
  height: 3rem;
  margin: 0
}
body{
	background: url('https://freedesignfile.com/upload/2014/03/Coffee-beans-5.jpg');
}