.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  align-items: center;
  background-color: #ffba92;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.Input {
  border: 0;
  background-color: #def;
  width: 20rem;
  height: 4rem;
  margin: 1.5rem
}

.Button {
  background-color: #def;
  border: 0;
  width: 5rem;
  height: 3rem;
  margin: 0
}