.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #ffba92;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #09d3ac;
} */

.Input {
  border: 0;
  background-color: #def;
  width: 20rem;
  height: 4rem;
  margin: 1.5rem
}

.Button {
  background-color: #def;
  border: 0;
  width: 5rem;
  height: 3rem;
  margin: 0
}
